form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

input {
  width: 400px;
  padding: 10px 15px;
  border-radius: 4px;
  outline: none;
  border: 1px solid gray;
  margin-bottom: 10px;
}

textarea {
  width: 400px;
  resize: none;
  outline: none;
  padding: 10px 15px;
}
.buttons {
  display: flex;
  justify-content: center;
}
button {
  background-color: #3498db;
  color: #fff;
  padding: 8px 10px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  border: none;
  width: 180px;
  border-radius: 4px;
  margin: 1rem 5px;
}

button:hover {
  background-color: #74b9ff;
}

@media screen and (max-width: 500px) {
  input,
  textarea {
    width: 250px;
  }
  form {
    width: 300px;
    display: grid;
    place-items: center;
    padding: 16px 10px;
  }

  button {
    width: 120px;
  }
}
